{% extends 'layout.twig' %}

{% block body %}
  <h1>{{title |upper}}</h1>
  <p>Welcome to {{title}}</p>
  <br>
  <p>Twig js is one of the better javascript template engines,
and is based on its bigger older brother Twig for php.</p>
{% endblock %}
